#canvas3d {
    position: absolute;
    left: -958px;
    top: -717px;
    right: -958px;
    bottom: -717px;
}

.canvas-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  position: relative;
  width: 4px;
  height: 4px;
}

.slider__is1 {
  pointer-events: none;
}

.slider__is2 {
  pointer-events: none;
}

.slider__is3 {
  pointer-events: none;
}
